
.aboutImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 30rem;

  .image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
}
.aboutText {
    position: a;
}
