.footerContainer {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  background-color: #243763;
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}
